.heading
{
  color:yellow ;
  padding-bottom: 40px;
  padding-top: 30px;
  font-size: 500px;
  
}

ol.carousel-indicators {
   position: absolute;
   bottom: 18px;
   margin: 0;
   left: 0;
   right: 0;
   width: auto;
   padding-bottom: 35px;
}

.carousel-control
   { 
     width: 40px;
    
   }

.carousel-indicators li {
  border-color: #000000;
}

.carousel-indicators li.active {
  background-color: #000000;
}
   

 .navbar {
        padding-top: 15px;
        padding-bottom: 20px;
        border: 0;
        border-radius: 0;
        margin-bottom: 0;
        font-size: 15px;
        letter-spacing: 2px;
      }

.navbar-default{
           height: 70px;
}
.navbar-nav  li a:hover 
  {
        color: #2736e5 !important;
   }

.foot1 
  {
    background-color:rgb(222,453,234);
    font-weight:30px;
  }

h1 {
     text-align: center;
     text-transform: uppercase;
     font-size: 100px;
     color: green;
    }

.container-fluid {
    padding-top: 100px;
    padding-bottom: 100px;
    height:45px;
    background-color: #3c3c3c; 
}

h2 {
      text-align: center;
     text-transform: uppercase
     color: red;
     font-size: 60px;
     margin-top: 100px;
     padding-top: 50px;
    }
.carousel slide {
        
        background-repeat: no-repeat;
        background-size: cover; 
        background-attachment: fixed;
        
        }

.navbar navbar-inverse{
     width: 200px;
     margin-top: 0px;
     height: 200px;
    
}
.loginpics{
     text-align: center;
  
}


.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
      
.image1{
  background-image: url(login.jpg);
  background-repeat: no-repeat;
background-size: cover; 
  
}

#lg.container-fluid{
  background-size: cover;
  height: 650px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
 }

input[type=text]:focus {
  background-color: lightblue;
  height: 50px;
}

input[type=password]:focus {
  background-color: lightblue;
  height: 50px;
}

#ab1.container-fluid{
  background-color: lightgreen;
  height: 60px;
  padding-top: 50px;
}

#sign.container-fluid{
   background-size: cover;
  height: 950px;
}
#b2{
  background-color:lightyellow;
}
#welcome{
  background-image: url(results.jpg);
  background-repeat: no-repeat;
background-size: cover; 
  
}
#link {
 color: #FF0000;
 font-size: 25px;
  } 
#admin{
background-image:;
}







